.menu-iteam a {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 20px;
    

    
    
}
.menu-iteam {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    

}


/* blog css  */
.blog-div{
    border: 2px solid #ccc;
    border-radius: 30px;
    
}
.blog-div p{
    font-size: 20px;
    margin:10px 40px;
    text-align: start;
}